/* OrderHistory.css */

.order-history-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.order-heading{
    text-align: center;
}
.order-history-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}

.order-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.order-block {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
}

.order-block h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333333;
}

.order-block p {
    font-size: 16px;
    margin: 5px 0;
    color: #666666;
}
