.registration-success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the component covers the entire viewport height */
}

.registration-success-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.registration-success-box h2 {
    margin-top: 0;
}

.registration-success-box p {
    font-size: 18px;
    margin-bottom: 20px;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}
